sprint-2/sprint2_workflow_v3.2.json
{
  "name": "Sprint 2 - AI Lead Enrichment Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sprint2-lead-ingest",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        48
      ],
      "id": "ea3531a0-1839-4de5-8eb9-670a281da9ce",
      "name": "Webhook",
      "webhookId": "e617dd4c-07ea-4299-9c8c-75dec682f59e"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-luna",
          "mode": "list",
          "cachedResultName": "GPT-5.6-LUNA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a precise B2B market research analyst. Your task is to extract structural insights about the requested company.\n\nCRITICAL GUARDRAIL: If the input company name is clearly a fake company, absolute gibberish (e.g., \"dfhsdkfh\", \"asdfasdf\"), or a generic string that does not represent a real business, you MUST NOT invent data. Instead, immediately return a JSON object where the company_research field is exactly the string \"COMPANY_NOT_FOUND\" and set all other string fields to \"\".\n\nOtherwise, proceed with real research. You must output strictly valid JSON matching this schema:\n{\n\"company_research\": \"2-sentence objective summary of the company's value prop and audience\",\n\"cold_email_draft\": \"Personalized 3-sentence outreach email\",\n\"linkedin_intro\": \"1-sentence professional connection request\"\n}"
            },
            {
              "content": "=Analyze the following company name: {{ $('Webhook').item.json.body.company }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1696,
        -192
      ],
      "id": "c5c6758f-fb3e-4b9b-acb6-aadc0820ab4f",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "V6IaYFUEY5uWBn9J",
          "name": "OpenAI account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblRY4GN17l1umA9P",
          "mode": "list",
          "cachedResultName": "Company Leads",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblRY4GN17l1umA9P"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Research": "RESEARCH_PENDING: API Error or Timeout",
            "Cold Email Draft": "OUTREACH_PENDING: Generation Failed",
            "LinkedIn Intro": "=INTRO_PENDING: Generation Failed",
            "id": "={{ $('Create YellowHouse record').item.json.id }}",
            "Company": "={{ $('Webhook').item.json.body.company }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Research",
              "displayName": "Company Research",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cold Email Draft",
              "displayName": "Cold Email Draft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Intro",
              "displayName": "LinkedIn Intro",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        2320,
        -96
      ],
      "id": "d0cba73c-19fb-488b-be8a-8444b2a7e978",
      "name": "Update record on fail",
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblRY4GN17l1umA9P",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblRY4GN17l1umA9P"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn Intro": "={{ $json.output[0].content[0].text.linkedin_intro }}",
            "id": "={{ $('Create YellowHouse record').item.json.id }}",
            "Company Research": "={{ $json.output[0].content[0].text.company_research }}",
            "Cold Email Draft": "={{ $json.output[0].content[0].text.cold_email_draft }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Research",
              "displayName": "Company Research",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cold Email Draft",
              "displayName": "Cold Email Draft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Intro",
              "displayName": "LinkedIn Intro",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        2320,
        -304
      ],
      "id": "35d27c63-eb3c-4060-b7cf-c4bc6aa44fa9",
      "name": "Update record on success",
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblRY4GN17l1umA9P",
          "mode": "list",
          "cachedResultName": "Company Leads",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblRY4GN17l1umA9P"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Webhook').item.json.body.company }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Research",
              "displayName": "Company Research",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cold Email Draft",
              "displayName": "Cold Email Draft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Intro",
              "displayName": "LinkedIn Intro",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1536,
        -192
      ],
      "id": "e9faba66-db0f-43bd-8199-a5a92d355a7e",
      "name": "Create YellowHouse record",
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "terrynyirenda123@gmail.com",
        "toEmail": "terrytheedude0@gmail.com",
        "subject": "=🚀 New AI Outreach Generated: {{ $('Webhook').item.json.body.company }} (Lead: {{ $('Webhook').item.json.body.first_name }})",
        "html": "=<p>Hi Team,</p>\n\n<p>A new lead was submitted via Google Forms and processed through the Yellow House Systems AI engine!</p>\n\n<hr>\n<h3>👤 LEAD DETAILS</h3>\n<p>\n<b>Name:</b> {{ $('Webhook').item.json.body.first_name }}<br>\n<b>Email:</b> {{ $('Webhook').item.json.body.email }}<br>\n<b>Company:</b> {{ $('Webhook').item.json.body.company }}\n</p>\n\n<hr>\n<h3>📊 COMPANY RESEARCH</h3>\n<p> {{ $('Message a model').item.json.output[0].content[0].text.company_research }}</p>\n\n<hr>\n<h3>✉️ COLD EMAIL DRAFT</h3>\n<p> {{ $('Message a model').item.json.output[0].content[0].text.cold_email_draft.replace(/\\n/g, '<br>') }}</p>\n\n<hr>\n<h3>💼 LINKEDIN INTRO</h3>\n<p> {{ $('Message a model').item.json.output[0].content[0].text.linkedin_intro }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2512,
        -304
      ],
      "id": "1a7044d2-133a-4682-a2c8-852bd0aef8a6",
      "name": "Send an Email",
      "webhookId": "d60e31c8-4511-4c10-9761-aaf9e336b09f",
      "credentials": {
        "smtp": {
          "id": "w4fOkMvYqWIxFAOo",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "USLACKBOT",
          "mode": "list",
          "cachedResultName": "slackbot"
        },
        "text": "=\"Duplicate lead submitted by {{ $('Webhook').item.json.body.first_name }}  {{ $('Webhook').item.json.body.email }} ). Process bypassed.\"",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1104,
        256
      ],
      "id": "ca7d9147-af7d-45a4-8bbd-cf9c6147de82",
      "name": "Send a message",
      "webhookId": "f7ba1b5b-00eb-444e-9663-992c715251cd",
      "credentials": {
        "slackOAuth2Api": {
          "id": "R7JqpkxyZiWjUePh",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblcr2rmTYm4Fp9vt",
          "mode": "list",
          "cachedResultName": "Person Leads",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblcr2rmTYm4Fp9vt"
        },
        "filterByFormula": "={Email} = '{{ $json.body.email }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        48
      ],
      "id": "074d4658-e581-4364-ab81-383cc49cad7f",
      "name": "Search records by lead email",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblrmpkX6NiTx7UGh",
          "mode": "list",
          "cachedResultName": "System Logs",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblrmpkX6NiTx7UGh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event Type": "LEAD_ALREADY_EXISTS",
            "Lead Email": "={{ $('Webhook').item.json.body.email }}",
            "Status": "SKIPPED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Event Type",
              "displayName": "Event Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1296,
        256
      ],
      "id": "696c32be-ef53-405e-bc58-1101c083b400",
      "name": "System log: Fail",
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "USLACKBOT",
          "mode": "list",
          "cachedResultName": "slackbot"
        },
        "text": "=\"Company not found::: lead submitted by::: {{ $('Webhook').item.json.body.first_name }}  {{ $('Webhook').item.json.body.email }} ). Ai failed to produce required output.\"",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        2512,
        -96
      ],
      "id": "abae0a5a-9001-452e-999d-16a36a7ffa0b",
      "name": "Send a message1",
      "webhookId": "f7ba1b5b-00eb-444e-9663-992c715251cd",
      "credentials": {
        "slackOAuth2Api": {
          "id": "R7JqpkxyZiWjUePh",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce7c8ada-ecea-4307-9a81-e78237378fa7",
              "leftValue": "{{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        48
      ],
      "id": "4bb066e8-8a0b-47be-8a3d-ccf4abf00b6c",
      "name": "New Email?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38a88ef7-327d-41d2-8504-e2ba320440a6",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        160
      ],
      "id": "36d0c6d8-51e0-4b79-a1f1-056c11f1dd81",
      "name": "New Company?"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblRY4GN17l1umA9P",
          "mode": "list",
          "cachedResultName": "Company Leads",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblRY4GN17l1umA9P"
        },
        "filterByFormula": "={Company} = '{{ $('Webhook').item.json.body.company }}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        640,
        160
      ],
      "id": "6bc1be2a-9b5e-4e8a-a005-9bbbc04df952",
      "name": "Search records by company",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblcr2rmTYm4Fp9vt",
          "mode": "list",
          "cachedResultName": "Person Leads",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblcr2rmTYm4Fp9vt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $('Webhook').item.json.body.first_name }}",
            "Last Name": "={{ $('Webhook').item.json.body.last_name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Company": "={{ $('Webhook').item.json.body.company }}",
            "id": "={{ $('Search records by lead email').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1104,
        48
      ],
      "id": "4f137272-6636-4f82-831e-64673fc6abb1",
      "name": "Update record on New company detected",
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblrmpkX6NiTx7UGh",
          "mode": "list",
          "cachedResultName": "System Logs",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblrmpkX6NiTx7UGh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event Type": "EXISTING_LEAD_UPDATED",
            "Lead Email": "={{ $('Webhook').item.json.body.email }}",
            "Status": "SUCCESS"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Event Type",
              "displayName": "Event Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        2976,
        -400
      ],
      "id": "a69f1604-6688-4b55-9259-c14cb01aa6ed",
      "name": "Create a record: SYSTEM LOG UPDATE",
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblrmpkX6NiTx7UGh",
          "mode": "list",
          "cachedResultName": "System Logs",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblrmpkX6NiTx7UGh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event Type": "NEW_LEAD_INGESTED",
            "Lead Email": "={{ $('Webhook').item.json.body.email }}",
            "Status": "SUCCESS"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Event Type",
              "displayName": "Event Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        2976,
        -208
      ],
      "id": "fdeed355-cffc-48ac-9816-09c640b82154",
      "name": "Create a record: SYSTEM LOG NEW",
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblcr2rmTYm4Fp9vt",
          "mode": "list",
          "cachedResultName": "Person Leads",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblcr2rmTYm4Fp9vt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $('Webhook').item.json.body.first_name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Last Name": "={{ $('Webhook').item.json.body.last_name }}",
            "Company": "={{ $('Webhook').item.json.body.company }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        768,
        -160
      ],
      "id": "69696b93-9c22-463c-acde-60fdf16b0ab4",
      "name": "Create new lead record",
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "40ae56ff-dd77-4846-80be-5418656b9857",
              "leftValue": "={{ $json.output[0].content[0].text.company_research }}",
              "rightValue": "COMPANY_NOT_FOUND",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2032,
        -192
      ],
      "id": "94bd7d57-362b-4480-8f7a-d492303ad508",
      "name": "Did the Agent find the Company?"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblrmpkX6NiTx7UGh",
          "mode": "list",
          "cachedResultName": "System Logs",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblrmpkX6NiTx7UGh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event Type": "COMPANY_NOT_FOUND",
            "Lead Email": "={{ $('Webhook').item.json.body.email }}",
            "Status": "FAILED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Event Type",
              "displayName": "Event Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        2720,
        0
      ],
      "id": "e0c7c93d-36d3-42eb-8c46-144a9a3c5cb2",
      "name": "Create a record: SYSTEM LOG UPDATE1",
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38a88ef7-327d-41d2-8504-e2ba320440a6",
              "leftValue": "={{ $('Update record on New company detected').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2720,
        -304
      ],
      "id": "90af17af-85d1-4e6a-9625-6200fda146e8",
      "name": "Is the company from an existing lead? ",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "USLACKBOT",
          "mode": "list",
          "cachedResultName": "slackbot"
        },
        "text": "=\"New lead submitted but company already exists {{ $('Webhook').item.json.body.first_name }}  {{ $('Webhook').item.json.body.email }} ). Process bypassed.\"",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1520,
        -432
      ],
      "id": "7ce907ce-df4e-4e36-a70b-0cc85e317d67",
      "name": "Send a message2",
      "webhookId": "f7ba1b5b-00eb-444e-9663-992c715251cd",
      "credentials": {
        "slackOAuth2Api": {
          "id": "R7JqpkxyZiWjUePh",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblrmpkX6NiTx7UGh",
          "mode": "list",
          "cachedResultName": "System Logs",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblrmpkX6NiTx7UGh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event Type": "NEW_LEAD_BUT_COMPANY_ALREADY_EXISTS",
            "Lead Email": "={{ $('Webhook').item.json.body.email }}",
            "Status": "SKIPPED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Event Type",
              "displayName": "Event Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Email",
              "displayName": "Lead Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1712,
        -432
      ],
      "id": "4e42ba85-c4ca-44a4-a86d-8d41eef206af",
      "name": "System log: Fail1",
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38a88ef7-327d-41d2-8504-e2ba320440a6",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -288
      ],
      "id": "05893fff-2f68-4b03-8d7b-a539c9908a6d",
      "name": "New Company?1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appk8DCZWi8hfUuOr",
          "mode": "list",
          "cachedResultName": "Sprint 2 - Yellow House Systems",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr"
        },
        "table": {
          "__rl": true,
          "value": "tblRY4GN17l1umA9P",
          "mode": "list",
          "cachedResultName": "Company Leads",
          "cachedResultUrl": "https://airtable.com/appk8DCZWi8hfUuOr/tblRY4GN17l1umA9P"
        },
        "filterByFormula": "={Company} = '{{ $('Webhook').item.json.body.company }}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1008,
        -288
      ],
      "id": "4623f5c4-2ade-477e-b28f-ad2109b4b07b",
      "name": "Search records by company1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "l0ZeudbfWkzyXQJW",
          "name": "Airtable account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records by lead email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Did the Agent find the Company?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create YellowHouse record": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record on success": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records by lead email": {
      "main": [
        [
          {
            "node": "New Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Is the company from an existing lead? ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "System log: Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record on fail": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Email?": {
      "main": [
        [
          {
            "node": "Create new lead record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search records by company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Company?": {
      "main": [
        [
          {
            "node": "Update record on New company detected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records by company": {
      "main": [
        [
          {
            "node": "New Company?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record on New company detected": {
      "main": [
        [
          {
            "node": "Create YellowHouse record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new lead record": {
      "main": [
        [
          {
            "node": "Search records by company1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did the Agent find the Company?": {
      "main": [
        [
          {
            "node": "Update record on success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record on fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Create a record: SYSTEM LOG UPDATE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is the company from an existing lead? ": {
      "main": [
        [
          {
            "node": "Create a record: SYSTEM LOG UPDATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record: SYSTEM LOG NEW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "System log: Fail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Company?1": {
      "main": [
        [
          {
            "node": "Create YellowHouse record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records by company1": {
      "main": [
        [
          {
            "node": "New Company?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f28d75fc-52ea-4287-b282-1c62783df5cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61218c73c4273bfbe002bd132cfaf66afd0401dbdb756cd1450b33eb8c9c77f1"
  },
  "nodeGroups": [],
  "id": "bfkVVjBaqTaNTdX5",
  "tags": []
}